<!doctype html>
<html>
  <head>
    <title>Todolist</title>
    <meta charset="utf8" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div id="vuejs">

      <new-task-form
          v-bind:new-task-created="onTaskAdded">
      </new-task-form>

      <div class="modal" v-if="showLoginModal">
        <div class="modal-overlay"></div>
        <div class="modal-box">
          <div class="page-title">
            <h1>Crear sesion</h1>
          </div>
          <div class="form">
            <form v-on:submit="createSession">
              <div class="form-field">
                <label>Email</label>
                <input
                    type="email"
                    v-model="sessionEmail"
                    placeholder="email@todolist.com" />
              </div>
              <div class="form-field buttons">
                <button class="button-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/make_api_request.js"></script>
    <script src="/templates/new_task_form_tpl.js"></script>
    <script src="/components/new_task_form.js"></script>
    <script src="/api/create_session.js"></script>
    <script src="/api/add_task.js"></script>
    <script>
      var page = new Vue({
        el: 'div#vuejs',
        data: {
          showLoginModal: true,
          sessionEmail: '',
        },
        methods: {
          createSession: function (event) {
            event.preventDefault();
            createSession({ email: page.sessionEmail })
              .then(function (result) {
                localStorage.setItem('token', result.session.token);
                page.showLoginModal = false;
              });
          },
          onTaskAdded: function () { }
        },
        created: function () {
          if (localStorage.getItem('token'))
            this.showLoginModal = false;
        }
      });
    </script>

  </body>
</html>
